# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Envs
.env
.env*
.venv
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Testing
.coverage
htmlcov/